# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
STL_Performance.v12.suo
IDE/Release/
IDE/Debug/STL_Performance.log
IDE/Debug/
